* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: #222;
}

.logo {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bfff;
}

.menu-btn {
    display: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 50px;
    color: #222;
}

.hero p {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

@media(max-width:768px) {

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #222;
        flex-direction: column;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 20px 0;
        text-align: center;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 17px;
    }

}